*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    --Primarycolor: #3A3845;
    --Primaryfontfamily: "Inter", sans-serif;

}
.header{
    padding:21.84px 0;
}
.menu{
    display: none;
}
.continer{
    width:calc( 100% - (13.4% * 2));/* 165px = 13.4% */
    margin: 0 auto;

}
.row {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}
.list ul{
    display:flex;
    gap: 60px ;
    list-style-type: none;
}
.list a{
    text-decoration-line: none;
    color: var(--Primarycolor);
    font-family: var(--Primaryfontfamily);
    font-size: 14px;
    font-weight: 400;
    transition-property: color;
    transition-duration: 1s;
}
.header a:hover{
    color: blue;
}
.cart{
    display: none;
}
.icons ul{
    display: flex;
    gap: 24px;
    list-style-type: none;
}
.icons li:hover{
    background-color: rgb(153, 153, 193);
}
.icons li{
    transition: background-color 1s;
}
@media screen and ( min-width:670px ) and ( max-width:881px ) {
    .list ul{
    gap: 20px;
  } 
  .icons ul{
    gap: 10px;
  }
} 
@media screen and ( min-width:0 ) and ( max-width:669px ){
.menu{
    display: flex;
    width: 20px;
    height: 20px;
}
.cart{
    display: flex;
}
.list{
    display: none;
}
.icons{
    display: none;
}
}

.collection_section{
    padding: 40px 0 ;   
}
.collection_section .row{
    gap: 30px ;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax( 150px , 1fr ));
}

.collection h2{
    text-align: center;
    margin-top: 23px ;
    color: var(--Primarycolor);
     font-family: var(--Primaryfontfamily);
     font-size: 18px;
     font-weight: 600;
     text-transform: uppercase;

}
img{
    width: 100%;
}
.offers{
     padding: 40px 0;
}
.offers .row{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(250px,1fr));   
}
.offer{
    text-align: center;
}
.offer img{
    width: 100%;
    height: 100%;

}
.para{
   display: flex;
   flex-wrap: wrap;
   height:291px ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.para h2{
    max-width: 389px;
    font-family: Garamond ;
    font-size: 28px;
    font-weight: 700;
    color: #3A3845;
    text-transform: uppercase;

}
.para p{
   max-width: 389px;
   margin: 24px 0 32px 0;
   font-family: var(--Primaryfontfamily);
   color: #595667;
   font-size: 16px;
   font-weight: 600;
}
.para a{
   font-family: var(--Primaryfontfamily);
   font-size: 16px;
   font-weight: 700;
   text-transform: uppercase;
   text-decoration-line: underline;
   color:#3A3845;
   padding: 15px 18px;
}
.bestsellers{
    text-align: center;
    padding: 40px 0 ;
    background-color:rgb(237, 239, 239);
}
.bestsellers h2{
    font-family: "EB Garamond", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--Primarycolor);
    margin-bottom: 48px;
}
.bestsellers .row{
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.item_discrebtion{
    text-align: left;
}
.item_discrebtion h3{
    font-family: var(--Primaryfontfamily);
    color: var(--Primarycolor);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.7px;
    text-transform:uppercase;
    margin-bottom: 12px;
    margin-top: 24px;
    height: 30px;
}
.price{
    font-family: var(--Primaryfontfamily);
    color: var(--Primarycolor);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.discrebtion{
    font-family: var(--Primaryfontfamily);
    color: #807F86;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 24px 0 58px 0;
    height: 70px;
}
.add_to_cart{
    font-family: var(--Primaryfontfamily);
    color: var(--Primarycolor);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 1px;
    padding: 15px 18px;
    text-transform: uppercase;
    background-color: white;
    border: black solid 1px;
    width: 100%;
    margin-bottom: 40px;
    transition: background-color 1.2s , color 1.2s;
    cursor: pointer;
}
.bestseller_item:hover .add_to_cart{
    background-color: rgb(144, 144, 181);
    color: white;
}
.about{
    padding: 40px 0;
}
.about .row{
    display: grid;
    grid-template-columns: repeat(2,minmax(250px,1fr));
}
.aboutus{
    height: 348px;
    overflow: hidden;
    text-align: center;
}
.aboutus  div {
    height: 100%;
}
.aboutus img{
height: 100%;
object-fit: cover;
display: block;
}
.introduction{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.introduction h2{
    font-family: "EB Garamond", serif;
    font-size: 28px;
    color: var(--Primarycolor);
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 398px;
}
.introduction p{
font-family: var(--Primaryfontfamily);
color: #595667;
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin: 24px 0 32px 0;
 max-width: 435px;
}
.introduction a{
    font-family: var(--Primaryfontfamily);
    color: var(--Primarycolor);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 1s ,background-color 2s ;
}
.introduction a:hover{
    color: rgb(189, 189, 218);
    background-color: black;
}
.new_arrivals{
    padding: 40px 0;
    text-align: center;
}
.new_arrivals h2{
     font-family: "EB Garamond", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--Primarycolor);
    margin-bottom: 48px;
}
.new_arrivals .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 30px;
}
.item:hover .addtocart{
    background-color: rgb(144, 144, 181);
    color: white;
}
.addtocart{
      font-family: var(--Primaryfontfamily);
    color: var(--Primarycolor);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 1px;
    padding: 15px 18px;
    text-transform: uppercase;
    background-color: white;
    border: black solid 1px;
    width: 100%;
    margin-bottom: 40px;
    transition: background-color 1.2s , color 1.2s;
    cursor: pointer;
}