*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    gap: 232.5px ;
    padding:21.84px 165px;
}
.list ul{
    display:flex;
    gap: 60px ;
    list-style-type: none;
}.icons ul{
    display: flex;
    gap: 24px;
    list-style-type: none;
}
.collection_section{
    display: flex;
    flex-wrap: wrap;
    gap: 30px ;
    padding: 40px 165px ;
    
}
.collection{
    width: ( (100%-90px-330px) / 4) ;
}
h2{
    text-align: center;
    margin-top: 23px ;
}
img{
    width: 100%;
}
