*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: antiquewhite;
    display: flex;
    gap: 232.5px ;
    padding-left: 165px;
}
.list ul{
    display:flex;
    gap: 60px ;
    list-style-type: none;
}.icons ul{
    display: flex;
    gap: 24px;
    list-style-type: none;
}