*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    gap: 232.5px ;
    padding:21.84px 165px;
}
.list ul{
    display:flex;
    gap: 60px ;
    list-style-type: none;
}.icons ul{
    display: flex;
    gap: 24px;
    list-style-type: none;
}
.collection_section{
    display: flex;
    flex-wrap: wrap;
    gap: 30px ;
    padding: 40px 165px ;
    
}
.collection{
    width:calc( ( 100% - 90px ) / 4) ;
}
.collection h2{
    text-align: center;
    margin-top: 23px ;
}
img{
    width: 100%;
}
.offers{
    display: flex;
    text-align: center;
    background-color: antiquewhite;
    padding: 40px 165px;
}
.offer{
    width: calc( 100%  / 2 ) ;
}
.para{
    max-width: 389px;
    margin-top: 64px;
}
.para p{
    padding-top: 24px;
    padding-bottom: 32px;
}
.para a{
    padding: 15px 18px;
}